.se-uvidi-button-wrapper {
    position: relative;
}
.se-uvidi-button {
    position: relative;
    border: none;
    outline: none;
    color: white;
    padding: 6px 8px;
    font-size: 16px;
    padding-left: 24px;
    padding-right: 10px;
    background-color: #26ca4f;
    font-family: Lato, Arial, Helvetica, sans-serif;
}
.se-uvidi-button::before {
    content: '+';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 6px;
    top: 2px;
    bottom: 0;
    font-size: 24px;
}
.se-uvidi-button:hover {
    cursor: pointer;
    background-color: #29d855;
}
.se-uvidi-button:active {
    background-color: #24e254;
}

.se-uvidi-notice {
    position: absolute;
    margin-top: 8px;
    text-align: center;
    font-size: 14px;
    left: 0; right: 0;
}
.se-uvidi-notice a {
    color: #26ca4f;
    text-decoration: none;
}
.se-uvidi-notice a:hover {
    color: #24e254;
    text-decoration: none; 
    cursor: pointer;
}

.curseforge-button {
    min-height: 36px;
}
